@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Segundo examen parcial</h4>
    <h4>Carnet: 2014FA602 Nombre: Eduardo Alexander Flores Argueta</h4>
</div>

<div class="galery">
    <img src="https://2014fa602eduardoflores.blob.core.windows.net/gellery/u1.jpg" alt="imagen 1" width="120" height="120" />
    <img src="https://2014fa602eduardoflores.blob.core.windows.net/gellery/uw.jpg" alt="imagen 2" width="120" height="120" />
    <img src="https://2014fa602eduardoflores.blob.core.windows.net/gellery/u3.jpg" alt="imagen 3" width="120" height="120" />
    <img src="https://2014fa602eduardoflores.blob.core.windows.net/gellery/u4.jpg" alt="imagen 4" width="120" height="120" />
    <img src="https://2014fa602eduardoflores.blob.core.windows.net/gellery/u5.jpg" alt="imagen 5" width="120" height="120" />

</div>
