@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Segundo examen parcial</h4>
    <h4>Carnet: 2014FA602 Nombre: Eduardo Alexander Flores Argueta</h4>

</div>
